In [1]:
import sqlite3
import pandas as pd
from pandas import DataFrame, Series

In [2]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [4]:
sqladb = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/')

In [10]:
sqladb.head()

  <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
0                                             <html>
1                                             <head>
2    <title>Index of /ml/machine-learning-databas...
3                                            </head>
4                                             <body>

In [5]:
pysqldf("""CREATE TABLE adult (
            age   int,
            workclass   varchar(40),
            fnlwgt   int,
            education   varchar(40),
            education_num   int,
            marital_status   varchar(40),
            occupation   varchar(20),
            relationship   varchar(40),
            race   varchar(20),
            sex   varchar(10),
            capital_gain   int,
            capital_loss   int,
            hours_per_week   int,
            native_country   varchar(50),
            label    varchar(10))""")

In [8]:
#question 1
pysqldf("SELECT * FROM adult LIMIT 10;")

PandaSQLException: (sqlite3.OperationalError) no such table: adult [SQL: 'SELECT * FROM adult LIMIT 10;'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [7]:
pysqldf("SELECT * FROM adult LIMIT 10;")

PandaSQLException: (sqlite3.OperationalError) no such table: adult [SQL: 'SELECT * FROM adult LIMIT 10;'] (Background on this error at: http://sqlalche.me/e/e3q8)